html {
  background-color: #e2e2e2;

  font-family: sans-serif;
}

.polaroid {
  margin: 0;
  padding: 10px;
  width: 250px;

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);
  transition: all 500ms linear;

  position: absolute;
  top: 9em;
  left: 18em;
}

.polaroid:first-child {
  transform-origin: center center;
  transform: rotate(-15deg) translate(-30%, -40%);
}

.polaroid:last-child {
  transform: rotate(35deg) translate(25%, -60%);
}

.polaroid:nth-child(2) {
  z-index: 2;
  transform: rotate(5deg);
}

.polaroid > img {
  display: block;
  width: 100%;
}

.polaroid:hover {
  z-index: 10;
}

.polaroid:nth-child(2):hover {
  transform: rotateX(5deg);
  box-shadow: 2px 2px 5px 1px #000;
}

.polaroid:first-child:hover {
  transform: rotateX(0deg);
}

figure {
  position: relative;
}

.polaroid > figcaption {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
  position: absolute;
  bottom: 1em;
  left: 5em;
}
